# Set Default EDITOR
export EDITOR=vim
export VISUAL=vim

# KERL - Erlang
test -s "$HOME/.kerl/kerl" && export PATH="$HOME/.kerl:$PATH"
# KIEX - Elixir
test -s "$HOME/.kiex/scripts/kiex" && source "$HOME/.kiex/scripts/kiex"

# RUBY
export PATH="$HOME/.rbenv/bin:$PATH"
eval "$(rbenv init -)"
export PATH="$HOME/.rbenv/plugins/ruby-build/bin:$PATH"

# Local libraries to overload all others
export PATH=./bin:$HOME/bin:$PATH
